<div class="container-fluid">
  <section class="over-view p-4">
    <div class="row g-3 w-100">
      <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card rounded-4">
          <div class="card-body">
            <h5 class="card-title">Hotels</h5>

            <i class="bi bi-flower3 me-5">
              <p class="card-text d-inline ms-2">12,463 Compared ..</p>
            </i>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card rounded-4">
          <div class="card-body">
            <h5 class="card-title">Rooms</h5>

            <i class="bi bi-flower3 me-5">
              <p class="card-text d-inline ms-2">12,463 Compared ..</p>
            </i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="row row-cols-2 g-0">
    <div class="col">
      <app-users-parent></app-users-parent>
    </div>
    <div class="col">
      <app-booking-parent></app-booking-parent>
    </div>
    <div class="col">Test</div>
    <div class="col">Test</div>
  </div>
</div>
