


<div class="container">
    <div class="row pt-3">
      <div class="col-6">
        <h4>Hotel</h4>
      </div>
      <div class="col-6 text-end">
        <button class="btn btn-outline-success" (click)="openModel()">Add New</button>
      </div>
    </div>
    @if (hotelList.length !== 0) {
    <div class="row">
      @for (item of hotelList; track $index) {
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6">
                {{item.hotelName}}
              </div>
              <div class="col-6 text-end">
                {{item.hotelDescription}}
              </div>
            </div>
          </div>
          
          <div class="card-body">
            <p> {{item.hotelCity}} , {{item.hotelSubDescription}} , {{item.hotelMainImage}}</p>

          </div>
          <div class="card-footer text-center">
            <div class="row">
              <div class="col-6">
               <small>{{item.hotelName}}</small>
              </div>
              <div class="col-6">
                <button class="btn btn-sm btn-primary" (click)="onEdit(item)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="onDelete(item)">Delet</button>
              </div>
            </div>

          </div>
        </div>
      </div>
      }
    </div>
    } @else {
      <div class="row">
        <div class="col-12 p-4 text-center">
          <p>No Record Found. Create New Record</p>
        </div>
      </div>
    }

  </div>


   <div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create New HOTEL</h4>
          <button type="button" class="btn-close" (click)="closeModel()"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <label for="">hotelName</label>
              <input type="text" [(ngModel)]="hotelObj.hotelName" class="form-control" placeholder="Name">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for=""></label>
              <input type="text" [(ngModel)]="hotelObj.hotelDescription" class="form-control" placeholder="Mobile">
            </div>
            <div class="col-6">
              <label for="">hotelDescription</label>
              <input type="text" [(ngModel)]="hotelObj.hotelSubDescription" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label for="">hotelSubDescription</label>
              <input type="text" [(ngModel)]="hotelObj.hotelMainImage" class="form-control" placeholder="City">
            </div>
            <div class="col-4">
              <label for="">hotelMainImage</label>
              <input type="text" [(ngModel)]="hotelObj.hotelCity" class="form-control" placeholder="State">
            </div>
            <div class="col-4">
              <label for=""> hotelCity</label>
              <input type="text" [(ngModel)]="hotelObj.id" class="form-control" placeholder="Pin Code">
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModel()">Close</button>
          @if (hotelObj.id ==0) {
            <button type="button" class="btn btn-primary" (click)="saveHotel()">Save Hotel</button>
          } @else {
            <button type="button" class="btn btn-success" (click)="updateHotel()">Update Hotel</button>
          }

        </div>
      </div>
    </div>
  </div>
