<div class="container">
  <div class="row pt-3">
    <div class="col-6">
      <h4 style="color: rgb(21, 21, 163); font-size:xx-large;">RooMs</h4>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-outline-primary m-2" (click)="openModel()">Add New</button>
    </div>
  </div>
  @if (hotelList.length !== 0){
  <div class="row  h-280">
@for (room of hotelList; track $index) {
    <div class="col-12"  >
      <div class="card" >
        <div class="card-header">
          <div class="row">
            <div class="col-4" style="color:  rgb(21, 21, 163); font-weight: 700; ">
              {{room.hotelId}}
            </div>
            <div class="col-8 text-end">
              <p>{{room.hotelName}}</p>
            </div>
          </div>
        </div>

        <div class="card-body">
          {{room.roomType}}
        </div>

        <div class="card-body">
          <p>{{room.guestNumber}}</p>
        </div>

        <div class="card-body">
          <p>{{room.price}}</p>
        </div>

        <div class="card-body">
          <p>{{room.bedType}}</p>
        </div>



        <div class="card-footer">
          <div class="row">
            <div class="col-6 text-end">
              <button class="btn btn-sm btn-primary p-2 m-1" (click)="onEdit(room)">Edit</button>
              <button class="btn btn-sm btn-danger p-2 m-1" (click)="onDelete(room)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  }


  </div>
  }@else {
    <div class="row">
      <div class="col-12 p-4 text-center">
        <p>No Record Found. Create New Record</p>
      </div>
    </div>
  }

  <div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create New room</h4>
          <button type="button" class="btn-close" (click)="closeModel()"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-4">
              <label for="">hotelName</label>
              <input type="text" [(ngModel)]="newRoom.hotelName" class="form-control" placeholder="hotelName">
            </div>

            <div class="col-4">
              <label for="">guestNumber</label>
              <input type="text" [(ngModel)]="newRoom.guestNumber" class="form-control" placeholder="hotelName">
            </div>

            <div class="col-4">
              <label for="">bedType</label>
              <input type="text" [(ngModel)]="newRoom.bedType" class="form-control" placeholder="hotelName">
            </div>

            <div class="col-4">
              <label for="">price</label>
              <input type="text" [(ngModel)]="newRoom.price" class="form-control" placeholder="hotelName">
            </div>

            <div class="col-4">
              <label for="">roomType</label>
              <input type="text" [(ngModel)]="newRoom.roomType" class="form-control" placeholder="hotelName">
            </div>



          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModel()">Close</button>

          @if (!retrievedRoom?._id) {
            <button type="button" class="btn btn-primary" (click)="saveRoom()">Save Hotel</button>
          } @else {
            <button type="button" class="btn btn-success" (click)="updateRoom(retrievedRoom)">Update Hotel</button>
          }
        </div>
      </div>
    </div>
  </div>


  <div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create New room</h4>
          <button type="button" class="btn-close" (click)="closeModel()"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-4">
              <label for="">hotelName</label>
              <input type="text" [(ngModel)]="editingRoom.hotelName" class="form-control" placeholder="hotelName">
            </div>

            <div class="col-4">
              <label for="">guestNumber</label>
              <input type="text" [(ngModel)]="editingRoom.guestNumber" class="form-control" placeholder="hotelName">
            </div>

            <div class="col-4">
              <label for="">bedType</label>
              <input type="text" [(ngModel)]="editingRoom.bedType" class="form-control" placeholder="hotelName">
            </div>

            <div class="col-4">
              <label for="">price</label>
              <input type="text" [(ngModel)]="editingRoom.price" class="form-control" placeholder="hotelName">
            </div>

            <div class="col-4">
              <label for="">roomType</label>
              <input type="text" [(ngModel)]="editingRoom.roomType" class="form-control" placeholder="hotelName">
            </div>



          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModel()">Close</button>

          @if (!retrievedRoom?._id) {
            <button type="button" class="btn btn-primary" (click)="saveRoom()">Save Hotel</button>
          } @else {
            <button type="button" class="btn btn-success" (click)="updateRoom(retrievedRoom)">Update Hotel</button>
          }
        </div>
      </div>
    </div>
  </div>



</div>
