<app-header></app-header>
<div class="container mt-5 pt-5 z-3">
  <input type="search" />
  @if(users){
  <div class="table-responsive">
    <table class="table table-hover text-center">
      <caption>
        List of users
      </caption>
      <thead>
        <tr>
          <th scope="col">ID no.</th>
          <th scope="col">Username</th>
          <th scope="col">Active</th>
          <th scope="col">Created On</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for(user of users;track $index) {
        <tr>
          <td class="align-middle" scope="row">
            {{ $index }}
          </td>
          <td class="align-middle">{{ user.userName || user.email }}</td>
          <td class="align-middle">{{ user.active }}</td>
          <td class="align-middle">{{ user.createdAt }}</td>
          <td class="align-middle">
            <button
              style="width: 100px"
              class="btn"
              [ngClass]="user.active ? 'btn-secondary' : 'btn btn-primary'"
              (click)="toggleUserActive(user)"
            >
              {{ user.active ? "Deactivate" : "Activate" }}
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
